.header {
    background: #000;
    height: 100px;
    width: 100%;
    max-width: 1540px;
    padding: 0 40px;
    box-sizing: border-box;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.img-logo {
    height: 45px;
}

.main {
    width: 100%;
    max-width: 1540px;
    min-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}