.header {
    background: #000;
    height: 100px;
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.img-logo {
    height: 60px;
    width: 350px;
}

.search-form {
    flex: 1;
    height: 60px;
    padding: 0 20px;
    border: 2px solid #fff;
    border-radius: 6px;
    font-size: 18px;
    background: #fff;
    color: #000;
    max-width: 500px;
    margin: 0 20px;
    box-sizing: border-box;
}

.search-form .input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 18px;
    outline: none;
    background: transparent;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav__inner {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.logout,
.login {
    display: inline-block;
    background: #000;
    padding: 10px 5px;
    width: 125px;
    border: none;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.mypage {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.sell {
    background-color: #fff;
    color: #000;
    padding: 10px 22px;
    border-radius: 6px;
    font-size: 22px;
    text-decoration: none;
}

.main {
    width: 100%;
    max-width: 1540px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
