.login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 680px;
    height: 656px;
    margin: 0 auto;
}

.login-content__inner {
    width: 100%;
}

.login-content__title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
}

.label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 24px;
}

.input {
    display: block;
    padding: 8px 12px;
    width: 100%;
    height: 48px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: serif;
}

.input-wrapper {
    position: relative;
}

.error {
    position: absolute;
    bottom: -45px;
    color: red;
    left: 0;
}

.login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 27px 0;
    height: 48px;
    color: #FFFFFF;
    background-color: #FF5555;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px auto;
    font-weight: bold;
    font-size: 26px;
    margin-top: 70px;
}

.register-move {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #0073CC;
    font-size: 20px;
    cursor: pointer;
    margin-top: 35px;
}
