.product-content {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 60px auto;
    max-width: 1200px;
    background-color: #fff;
}

.product-image-area {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image-area .image {
    width: 100%;
    height: 40%;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 700px;
    margin-right: 100px;
}

.product-description-area {
    flex: 1;
    display: block;
    /* flex-direction: column;  */
    gap: 30px;
}

.product-top {
    /* font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px; */
}

.product-name {
    font-size: 34px;
    font-weight: bold;
}

.product-brand {
    font-size: 16px;
    color: #666;
}

.product-price {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.tax {
    font-size: 20px;
    margin-left: 5px;
}

.product-actions {
    display: flex;
    /* flex-direction: column;
    align-items: center; */
    gap: 20px;
    margin-bottom: 30px;
    padding: 10px 80px 10px 15px;
}

.like-action {
    border: none;
    background: none;
    position: relative;
}

.like-counter {
    position: absolute;
    top: 40px;
    right: 22px;
    font-weight: bold;

}

.comment-action {
    border: none;
    background: none;
    position: relative;

}

.comment-counter {
    position: absolute;
    top: 40px;
    right: 22px;
    font-weight: bold;

}

.icon-image {
    width: 90%;
    height: 90%;
}

/* .like-button comment-button {
    background: none;
    border: none;
    position: relative;
} */




.button-area {
    margin-top: 16px;
}

.purchase-button {
    display: block;
    width: 570px;
    height: 56px;
    background-color: #FF5555;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 56px;
    text-align: center;
    border: none;
    border-radius: 8px;
    text-decoration: none;
}

.product-description {
    margin: 30px 0;
}

.description {
    padding: 20px 0;
    color: #444;
    line-height: 1.6;
}

.product-info {
    padding-top: 10px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.info-row {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.info-label {
    width: 100px;
    font-weight: bold;
}

.category-value {
    background-color: #D9D9D9;
    color: #000000;
    padding: 3px 9px;
    border-radius: 15px;
}


.comments-area {
    padding-top: 20px;
}

.comment-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #5F5F5F;
}

.comment {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    /* background-color: #f6f6f6;
    padding: 10px;
    border-radius: 6px; */
    margin-bottom: 25px;
}

.comment-user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #ddd;
    flex-shrink: 0;
}

comment-user-image.no-image {
    background: #ddd;
}

.comment-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.comment-user {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.comment-text {
    background: #E5E5E5;
    padding: 12px 15px;
    border-radius: 5px;
    font-size: 15px;
    margin: 0;
    width: 100%;
    color: #333;
}

.comment-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-form .label {
    font-weight: bold;
}

.comment-form textarea {
    width: 100%;
    height: 100px;
    border-radius: 6px;
    padding: 10px;
    font-size: 14px;
    resize: vertical;
}

.error {
    color: red;
}

.comment-btn {
    margin-top: 20px;
    background-color: #FF5555;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

