.purchase-form {
    display: flex;
    justify-content: center;
    max-width: 1512px;
    margin: 60px auto;
}

.left-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 80px;
}

.product-content {
    display: flex;
    gap: 40px;
    margin: 15px 0 15px 0;
}

.image {
    width: 190px;
    height: 190px;
    object-fit: cover;
}

.product-description {
    display: flex;
    flex-direction: column;
}

.product-name {
    font-size: 25px;
    font-weight: bold;
}

.product-price {
    font-size: 25px;
    margin-top: 4px;
}

.payment-content {
    border-top: 1px solid #000000;
}

.payment-title {
    margin: 30px 20px;
}

.payment-select {
    width: 250px;
    height: 30px;
    padding: 4px;
    border: 1px solid #000000;
    border-radius: 4px;
    margin: 15px 0 25px 75px;
}

.shipping-address-content {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.shipping-address-top {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 10px 30px;
}

.address-edit-button {
    background: none;
    border: none;
    color: #0073CC;
    font-size: 20px;
    cursor: pointer;
}

.address-group {
    margin: 15px 0 55px 75px;
}

.address {
    font-size: 18px;
}

.address-bottom {
    display: flex;
    gap: 30px;
}

.right-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin: 15px 75px 45px 0;
}

.info {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
}

.info1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
}

.info2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    border-top: 1px solid #000000;
}

.label {
    font-size: 18px;
}

.value {
    font-size: 20px;
    min-width: 120px;
    min-height: 10px;
}

.purchase-button {
    background-color: #FF5555;
    color: #FFFFFF;
    width: 100%;
    border: none;
    padding: 12px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    color: red;
}