.all-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 95px;
    width: 100%;
    max-width: 1512px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 200px;
    padding: 70px 0 30px 0;
}

.profile-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-left: 380px;
}

.image-area {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ddd;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-name {
    font-size: 32px;
    font-weight: bold;
}

.edit-button {
    border: 2px solid #FF5555;
    border-radius: 10px;
    color: #FF5555;
    background: none;
    padding: 8px 45px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 80px;
}

.category {
    display: flex;
    justify-content: flex-start;
    gap: 70px;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 50px;
    border-bottom: 1px solid #000;
}

.seller-item {
    text-decoration: none;
    font-weight: bold;
    color: #5F5F5F;
    font-size: 22px;
    margin-left: 120px;
}

.buyer-item {
    text-decoration: none;
    font-weight: bold;
    color: #5F5F5F;
    font-size: 22px;
}

.active {
    color: #FF0000;
}

.under-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    width: 100%;
    max-width: 1400px;
    padding: 15px 50px;
    margin: 37px auto 0;
    box-sizing: border-box;
}

.product-content {
    aspect-ratio: 1 / 1.2;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
}

.product-link {
    display: block;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    display: block;
}

.detail-content {
    margin-top: 10px;
}

.product-name {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (min-width: 1401px) and (max-width: 1540px) {
    .product-contents {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
        width: 100%;
        max-width: 1540px;
        margin: 37px auto 0;
        padding: 0 30px;
        box-sizing: border-box;
    }
}